:root {
    --text-color: #7A8450;
    --link-color: #6B6943;
    --background-color: #F7EFDA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}

@font-face {
    font-family: 'Monserrat';
    src: url(Fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'MagicRetro';
    src: url(Fonts/MagicRetro.ttf);
}

body {
    font-family: 'Monserrat', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

/*Nav*/

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 18px 70px;
    background: rgba(247, 239, 218, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover {
    transform: scale(1.1);
}
.navigation a{
    font-size: 18.8px;
    color: var(--text-color);
    margin-left: 37px;
    font-weight: 700;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.navigation a:hover {
    color: var(--link-color);
    border-bottom: 3px solid var(--link-color);
}

section {
    min-height: 700px;
    padding: 0px 70px;
}

/* Hero */

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: auto;
}
.herointro img {
    margin-top: 143px;
    transition: filter 0.4s ease-in-out, transform 0.4s ease-in-out;
}
.herointro img:hover {
    transform: scale(1.02); 
}
.btn {
    margin-top: 50px;
    font-size: 24px;
    display: inline-block;
    padding: 12px 28px;
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: 30px;
    font-weight: 700;
    transition: 0.3s ease;
    border: 3px solid var(--text-color);
}
.btn:hover {
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: var(--text-color);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.section-divider {
    margin-top: 115px;
    width: 100%;
    line-height: 0;        /* Removes the tiny gap at the bottom */
    background-color: var(--background-color); /* Match Hero background */
    display: flex;
    justify-content: center; /* Keeps it centered if not full-width */
}

.section-divider img {
    display: block;    
    height: auto;
}

/*About Me*/

#aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 84px;
}

.aboutmetitle {
    margin-top: 0; 
    font-family: 'MagicRetro';
    font-size: 60.93px;
    align-items: start;
}

.about-content {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    gap: 50px;          
    width: 100%;
    margin-top: 40px;   
}

.portrait {      /* Adjust size as needed */
    height: auto;
}
